<div id="link-bar" style="display:none">
  <div class="content">
    <ul>
      <li><%=image_tag ('/assets/small-bear.jpg') %></li>
      <% if I18n.locale.to_s == 'en' %>
      <li><%=link_to "childrensnational.org", "http://www.childrensnational.org", :target => "new" %></li>
      <li><%=link_to "What We Do", "http://www.childrensnational.org/why-childrens/what-we-do/", :target => "new" %></li>
      <li><%=link_to "Get Involved", "http://www.childrensnational.org/why-childrens/get-involved/", :target => "new" %></li>
      <% else %>
      <li><%=link_to "childrensnational.org", "http://www.childrensnational.org", :target => "new" %></li>
      <li><%=link_to "ما نقوم به", "http://www.childrensnational.org/why-childrens/what-we-do/", :target => "new" %></li>
      <li><%=link_to "شارك معنا" "http://www.childrensnational.org/why-childrens/get-involved/", :target => "new" %></li>
      <% end %>
    </ul>
  </div>
</div>